//---------------------------------------------------------------------------
//
// Name:        ProyectoFinalApp.rc
// Author:      GrupoPyN
// Created:     27/04/2020 12:00:09
// Description: 
//
//---------------------------------------------------------------------------

#ifdef _WIN64
#define WX_CPU_AMD64
#endif

#include <wx/msw/wx.rc>
